[submodule "superuser"]
	path = superuser
	url = https://github.com/Lolierl/Socratic-Superuser
[submodule "manager"]
	path = manager
	url = https://github.com/Lolierl/Socratic-Manager
[submodule "editor"]
	path = editor
	url = https://github.com/Lolierl/Socratic-Editor
[submodule "login-panel"]
	path = login-panel
	url = https://github.com/Evolution200/login-panel.git
[submodule "user"]
	path = user
	url = https://github.com/Faded-Nebula/Socratic-user.git
[submodule "task"]
	path = task
	url = https://github.com/Faded-Nebula/Socratic-task.git
